body {
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    font-size: 20px;
    flex: 1;
    margin: 50px;
    height: 200px;
    resize: none;
}